*{
    margin: 0;
}

body {
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(3,0.6fr);
}

header{
    margin-bottom: 0.5em;
    grid-column: span 3;
}

section {
    grid-column: span 2;
    border: 0.125em #000000 solid;
    background-color: #94d3b1;
    color: #000000;
}

aside {
    grid-column: 3;
}