*{
    margin: 0;
}

body {
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(3,0.6fr);
}

header{
    margin-bottom: 0.5em;
    grid-column: span 3;
}

aside {
    display: grid;
    grid-template-columns: repeat(1,0.6fr);
    background-color: #94d3b1;
    color: #000000;
    grid-column: 3;
    border: 0.125em #000000 solid;
}
#Tabla {
    grid-column: 3;
}

#Equipo {
    grid-column: 3;
}

article{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(1,0.6fr);
    grid-column: span 2;
    border: 0.125em #000000 solid;
    background-color: #94d3b1;
    color:#000000;
}

#Historia {
    grid-column: span 2;
}

#Argumento{
    grid-column: span 2;
}


